* {
  box-sizing: border-box;
}

.page {
  padding-bottom: 40px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1240px;
}

.card-list {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-bottom: 40px;
}

.go-back {
	background: url("../img/back.svg") no-repeat center / 15px;
	border: 0;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.select-comp {
	max-width: 100%;
	border: 1px solid #cccdcf;
	color: #000;
	height: 44px;
	border-radius: 4px;
	padding: 10px;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background: url("../img/dropdown.svg") no-repeat 90% center / 12px;
	cursor: pointer;
}

.filter-bar {
	max-width: 620px;
  margin: 0 auto 40px;
	display: grid;
	grid-template-rows: repeat(2, 44px);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.filter-bar .select-comp {
	grid-row: 1;
}

.filter-bar .input-comp {
	grid-column: 1 / -1;
}

@media screen and (min-width: 480px) {
	.filter-bar {
		grid-template-columns: 120px 120px 1fr;
		grid-template-rows: 1fr;
		grid-gap: 20px;
	}

	.filter-bar .input-comp {
		grid-row: 1;
		grid-column: 3;
	}
}