<template>
  <section class="page">
    <PageTitle title="Clients" />

    <div class="wrapper">
      <div class="filter-bar">
        <select
          class="select-comp"
          name="order"
          v-model="filter_order"
          @change="changeSelect"
        >
          <option value="" selected disabled>Order</option>
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>

        <select
          class="select-comp"
          name="sort"
          v-model="filter_sort"
          @change="changeSelect"
        >
          <option value="" selected disabled>Sort</option>
          <option value="createdAt" selected>Created</option>
          <option value="updatedAt">Updated</option>
          <option value="givenName">Name</option>
        </select>

        <Input
          type="search"
          placeholder="Filter..."
          @changeInput="inputFilter"
        />
      </div>

      <div class="card-list">
        <Card
          v-for="(client, index) in filteredClients"
          :key="`${client.id}-${index}`"
          :id="client.id"
          :title="client.name"
          :subtitle="client.address"
          :image="client.image"
          :link="client.link"
        />
      </div>

      <Button @toggleClick="loadMore" value="Load more" />
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import ApiTrackTik from "@/api/api";
import PageTitle from "@/components/PageTitle";
import Card from "@/components/Card";
import Button from "@/components/Button";
import Input from "@/components/Input";

export default {
  components: {
    Card,
    PageTitle,
    Input,
    Button,
  },

  data() {
    return {
      clients: [],
      current_page: 1,
      filter_clients: "",
      filter_order: "",
      filter_sort: "",
    };
  },

  created() {
    this.SET_IS_LOADING(true);
    this.getClients();
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),

    async getClients() {
      try {
        const { data = [] } = await ApiTrackTik.getClients(
          this.current_page,
          this.filter_sort,
          this.filter_order
        );

        let new_clients = [];
        data.forEach((item) => {
          const client = {
            id: item?.id,
            name: item?.givenName,
            address: item?.createdAt,
            image: item?.logo,
            link: `clients/${item?.id}`,
          };

          new_clients.push(client);
        });

        this.clients = [...this.clients, ...new_clients];
        setTimeout(() => this.SET_IS_LOADING(false), 500);
      } catch (err) {
        console.log(err);
      }
    },

    loadMore() {
      this.current_page = this.current_page + 1;
      this.getClients();
    },

    changeSelect() {
      this.clients = [];
      this.getClients();
    },

    inputFilter(value) {
      this.filter_clients = value;
    },
  },

  computed: {
    filteredClients() {
      return this.clients.filter((client) => {
        return client.name
          .toLowerCase()
          .includes(this.filter_clients.toLowerCase());
      });
    },
  },
};
</script>
