<template>
  <section class="client">
    <TopDetail
      :title="client_name"
      :subtitle="client_date"
      :image="client_logo"
    />

    <div class="client__sites">
      <div class="wrapper">
        <div class="filter-bar">
          <select
            class="select-comp"
            name="order"
            v-model="filter_order"
            @change="changeSelect"
          >
            <option value="" selected disabled>Order</option>
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
          </select>

          <select
            class="select-comp"
            name="sort"
            v-model="filter_sort"
            @change="changeSelect"
          >
            <option value="" selected disabled>Sort</option>
            <option value="createdAt" selected>Created</option>
            <option value="updatedAt">Updated</option>
            <option value="title">Title</option>
          </select>

          <Input
            type="search"
            placeholder="Filter..."
            @changeInput="inputFilter"
          />
        </div>

        <div class="card-list">
          <Card
            v-for="(site, index) in filteredSites"
            :key="`${site.id}-${index}`"
            :id="site.id"
            :title="site.name"
            :subtitle="site.address"
            :desc="site.contact"
            :image="site.image"
            :link="site.link"
          />
        </div>

        <Button @toggleClick="loadMore" value="Load more" />
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import ApiTrackTik from "@/api/api";
import TopDetail from "@/components/TopDetail";
import Card from "@/components/Card";
import Button from "@/components/Button";
import Input from "@/components/Input";

export default {
  components: {
    TopDetail,
    Card,
    Button,
    Input,
  },

  data() {
    return {
      client_id: this.$route.params.id,
      client_name: "",
      client_date: "",
      client_logo: "",
      sites: [],
      current_page: 1,
      filter_sites: "",
      filter_order: "",
      filter_sort: "",
    };
  },

  created() {
    this.SET_IS_LOADING(true);
    this.getClient();
    this.getClientSites();
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),

    async getClient() {
      try {
        const response = await ApiTrackTik.getClient(this.client_id);
        const { data = [] } = response;

        this.client_name = data?.givenName;
        this.client_date = data?.createdAt;
        this.client_logo = data?.logo;
      } catch (err) {
        console.log(err);
      }
    },

    async getClientSites() {
      try {
        const { data = [] } = await ApiTrackTik.getClientSites(
          this.client_id,
          this.current_page,
          this.filter_sort,
          this.filter_order
        );

        let new_sites = [];
        data.forEach((item) => {
          const site = {
            id: item?.id,
            name: item?.title,
            address: `${item?.address?.street}, ${item?.address?.country}`,
            contact: `${item?.contacts?.main?.firstName} ${item?.contacts?.main?.lastName}`,
            image: item?.images[0] || item?.images[1],
            link: `/sites/${item?.id}`,
          };

          new_sites.push(site);
        });

        this.sites = [...this.sites, ...new_sites];
        setTimeout(() => this.SET_IS_LOADING(false), 500);
      } catch (err) {
        console.log(err);
      }
    },

    loadMore() {
      this.current_page = this.current_page + 1;
      this.getClientSites();
    },

    changeSelect() {
      this.sites = [];
      this.getClientSites();
    },

    inputFilter(value) {
      this.filter_sites = value;
    },
  },

  computed: {
    filteredSites() {
      return this.sites.filter((site) => {
        return site.name
          .toLowerCase()
          .includes(this.filter_sites.toLowerCase());
      });
    },
  },
};
</script>

<style lang="scss">
.client {
  &__sites {
    margin: 40px 0;
  }
}
</style>
