<template>
  <section class="page-error">
    <PageTitle title="Error" />

    <div class="wrapper">
      <div class="page-error__image"></div>
      <router-link class="page-error__link" to="/" v-text="'Go Home'" tag="a" />
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import PageTitle from "@/components/PageTitle";

export default {
  components: {
    PageTitle,
  },

  created() {
    this.SET_IS_LOADING(false);
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),
  },
};
</script>
<style lang="scss">
@import "@/assets/scss/__colors.scss";

.page-error {
  padding: 0 0 40px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    background: url("../assets/img/404.svg") no-repeat center / 100%;
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
  }

  &__link {
    background-color: $blue;
    color: $white;
    font-weight: 600;
    padding: 14px 20px 12px;
    border-radius: 4px;
  }
}
</style>
