<template>
  <Profile :name="name" :email="email" :photo="photo" />
</template>

<script>
import { mapActions } from "vuex";
import ApiTrackTik from "@/api/api";
import Profile from "@/components/Profile";

export default {
  components: {
    Profile,
  },

  data() {
    return {
      name: "",
      email: "",
      photo: "",
    };
  },

  created() {
    this.SET_IS_LOADING(true);
    this.getMe();
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),

    async getMe() {
      try {
        const response = await ApiTrackTik.getMe();
        const { data = {} } = response;
        this.name = data?.givenName;
        this.email = data?.email;
        this.photo = data?.avatar;

        setTimeout(() => this.SET_IS_LOADING(false), 500);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
