<template>
  <section class="page">
    <PageTitle title="Sites" />

    <div class="wrapper">
      <div class="filter-bar">
        <select
          class="select-comp"
          name="order"
          v-model="filter_order"
          @change="changeSelect"
        >
          <option value="" selected disabled>Order</option>
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>

        <select
          class="select-comp"
          name="sort"
          v-model="filter_sort"
          @change="changeSelect"
        >
          <option value="" selected disabled>Sort</option>
          <option value="createdAt" selected>Created</option>
          <option value="updatedAt">Updated</option>
          <option value="title">Title</option>
        </select>

        <Input
          type="search"
          placeholder="Filter..."
          @changeInput="inputFilter"
        />
      </div>

      <div class="card-list">
        <Card
          v-for="(site, index) in filteredSites"
          :key="`${site.id}-${index}`"
          :id="site.id"
          :title="site.name"
          :subtitle="site.address"
          :desc="site.contact"
          :image="site.image"
          :link="site.link"
        />
      </div>

      <Button @toggleClick="loadMore" value="Load more" />
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import ApiTrackTik from "@/api/api";
import PageTitle from "@/components/PageTitle";
import Card from "@/components/Card";
import Button from "@/components/Button";
import Input from "@/components/Input";

export default {
  components: {
    Card,
    PageTitle,
    Button,
    Input,
  },

  data() {
    return {
      sites: [],
      current_page: 1,
      filter_sites: "",
      filter_order: "",
      filter_sort: "",
    };
  },

  created() {
    this.SET_IS_LOADING(true);
    this.getSites();
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),

    async getSites() {
      try {
        const { data = [] } = await ApiTrackTik.getSites(
          this.current_page,
          this.filter_sort,
          this.filter_order
        );

        let new_sites = [];
        data.forEach((item) => {
          const site = {
            id: item?.id,
            name: item?.title,
            address: `${item?.address?.street}, ${item?.address?.country}`,
            contact: `${item?.contacts?.main?.firstName} ${item?.contacts?.main?.lastName}`,
            image: item?.images[0] || item?.images[1],
            link: `sites/${item?.id}`,
          };

          new_sites.push(site);
        });

        this.sites = [...this.sites, ...new_sites];
        setTimeout(() => this.SET_IS_LOADING(false), 500);
      } catch (err) {
        console.log(err);
      }
    },

    loadMore() {
      this.current_page = this.current_page + 1;
      this.getSites();
    },

    changeSelect() {
      this.sites = [];
      this.getSites();
    },

    inputFilter(value) {
      this.filter_sites = value;
    },
  },

  computed: {
    filteredSites() {
      return this.sites.filter((site) => {
        return site.name
          .toLowerCase()
          .includes(this.filter_sites.toLowerCase());
      });
    },
  },
};
</script>
