<template>
  <section class="site">
    <TopDetail
      go_back_link="/"
      :image="site_image"
      :title="site_title"
      :subtitle="`${site_address.city}, ${site_address.country}`"
      :desc="site_address.street"
    />

    <ImageAvatar :src="site_image" :size="480" />

    <div class="site__info">
      <SiteInfo icon="contact" :text="contact_name" :desc="contact_job" />
      <SiteInfo icon="phone" :text="contact_phone" />
      <SiteInfo icon="email" :text="contact_email" />
      <SiteInfo icon="address" :text="contact_address" />
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import ApiTrackTik from "@/api/api";
import TopDetail from "@/components/TopDetail";
import ImageAvatar from "@/components/ImageAvatar";
import SiteInfo from "@/components/SiteInfo";

export default {
  components: {
    SiteInfo,
    TopDetail,
    ImageAvatar,
  },

  data() {
    return {
      id: this.$route.params.id,
      site_title: "",
      site_image: "",
      site_address: "",

      contact_name: "",
      contact_phone: "",
      contact_email: "",
      contact_address: "",
      contact_job: "",
    };
  },

  mounted() {
    this.SET_IS_LOADING(true);
    this.getSite();
  },

  methods: {
    ...mapActions(["SET_IS_LOADING"]),

    async getSite() {
      try {
        const response = await ApiTrackTik.getSite(this.id);
        const { data = [] } = response;

        this.site_title = data?.title;
        this.site_image = data?.images[0];
        this.site_address = data?.address;
        this.site_created = data?.createdAt;

        const { main: main_contact } = data?.contacts;
        this.contact_name = `${main_contact?.firstName} ${main_contact?.lastName}`;
        this.contact_phone = main_contact?.phoneNumber;
        this.contact_email = main_contact?.email;
        this.contact_job = main_contact?.jobTitle;

        const { address } = main_contact;
        this.contact_address = `${address?.street}, ${address?.city}. ${address?.country}`;

        setTimeout(() => this.SET_IS_LOADING(false), 500);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";

.site {
  &__info {
    padding: 20px;
    max-width: 480px;
    margin: 0 auto;
  }

  .image-avatar {
    max-width: 100%;
    max-height: 200px;
    border-radius: 0;
    background-color: $gray;
    margin: 0 auto 10px;

    @media screen and (min-width: 480px) {
      margin-top: 40px;
      border-radius: 4px;
    }
  }
}
</style>
