<template>
  <button
    class="button"
    v-text="value"
    v-if="value"
    @click="toggleClick"
  ></button>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
  },

  methods: {
    toggleClick() {
      this.$emit("toggleClick", true);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/__colors.scss";

.button {
  background-color: $blue;
  color: $white;
  border: 0;
  padding: 14px 20px 12px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $blue_h;
  }
}
</style>
