<template>
  <router-link class="card" tag="article" :to="link">
    <ImageAvatar :src="image" type="image" :size="80" />
    <div class="card__info">
      <h2 class="card__title" v-text="title"></h2>
      <p class="card__subtitle" v-text="subtitle"></p>
      <span class="card__desc" v-text="desc"></span>
    </div>
  </router-link>
</template>

<script>
import ImageAvatar from "@/components/ImageAvatar";

export default {
  components: {
    ImageAvatar,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    desc: {
      type: String,
    },
    image: {
      type: String,
      required: true,
    },
    link: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      test: this.image,
    };
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/__colors.scss";
.card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 80px 1fr;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  .image-avatar {
    background-color: $gray;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 5px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
  }

  &__subtitle {
    margin: 0 0 5px;
  }

  &__desc {
    margin: 0;
    font-weight: 600;
  }

  &:hover {
    .card {
      &__title {
        color: $blue;
      }
    }
  }
}
</style>
