<template>
  <header class="header">
    <div
      class="header__menu"
      :class="{ 'header__menu--active': menu_state }"
      @click="toggleMenu"
    >
      <div class="header__menu-lines"></div>
    </div>
    <nav
      class="header__menu-list"
      :class="{ 'header__menu-list--active': menu_state }"
    >
      <router-link
        class="header__menu-list-item header__menu-list-item--sites"
        @click.native="toggleMenu"
        to="/"
        v-text="'Sites'"
        tag="a"
      />
      <router-link
        class="header__menu-list-item header__menu-list-item--clients"
        @click.native="toggleMenu"
        to="/clients"
        v-text="'Clients'"
        tag="a"
      />
      <router-link
        class="header__menu-list-item header__menu-list-item--profile"
        @click.native="toggleMenu"
        to="/me"
        v-text="'Profile'"
        tag="a"
      />
    </nav>
    <h2 class="header__title" v-text="'Scheduling'"></h2>
    <div class="header__profile">
      <router-link
        to="/me"
        class="header__profile-photo"
        :style="{ backgroundImage: `url(${avatar})` }"
        tag="div"
      ></router-link>
    </div>
  </header>
</template>

<script>
import ApiTrackTik from "@/api/api";

export default {
  data() {
    return {
      menu_state: false,
      avatar: "",
    };
  },

  created() {
    this.getMe();
  },

  methods: {
    toggleMenu() {
      this.menu_state = !this.menu_state;
    },

    async getMe() {
      const response = await ApiTrackTik.getMe();
      const { data = {} } = response;
      this.avatar = data.avatar;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";

.header {
  background: $blue;
  height: 60px;
  color: $white;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  &__menu {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 25px;
    padding: 0 20px;

    &-lines {
      position: absolute;
      top: 27px;
      width: 25px;
      height: 2px;
      background-color: $white;
      transform: rotate(0);
      transition: all 0.2s ease-in-out;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $white;
        left: 0;
        top: -7px;
        transform: rotate(0);
        transition: all 0.2s ease-in-out;
      }

      &:after {
        top: 7px;
      }
    }

    &-list {
      position: fixed;
      height: 100%;
      width: 80%;
      max-width: 400px;
      background-color: $white;
      left: -100%;
      top: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      top: 60px;
      z-index: 2;
      box-shadow: 0 0 12px $shadow;
      height: calc(100vh - 60px);
      padding: 20px;
      transition: all 0.3s ease-in-out;

      &-item {
        color: $black;
        font-weight: 700;
        padding: 12px 20px 12px 30px;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 0 center;

        &.router-link-exact-active.router-link-active {
          color: $blue;
        }

        &--sites {
          background-image: url("../assets/img/sites.svg");
        }
        &--clients {
          background-image: url("../assets/img/clients.svg");
        }
        &--profile {
          background-image: url("../assets/img/profile.svg");
        }
      }

      &--active {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }

    &--active {
      .header__menu {
        &-lines {
          transform: rotate(45deg);

          &:before {
            top: 0;
            transform: rotate(0);
          }

          &:after {
            top: 0;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &__menu-grid {
    background: url("../assets/img/menu-grid.svg") no-repeat center / 22px;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__profile {
    padding: 15px 10px;
    cursor: pointer;

    &-photo {
      height: 30px;
      width: 30px;
      border-radius: 40%;
      background-color: $blue_h;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 1;
    }
  }

  &__title {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
}
</style>
