<template>
  <div
    class="image-avatar"
    :style="{
      height: `${size}px`,
      width: `${size}px`,
    }"
    :class="type === 'avatar' && 'image-avatar--profile'"
  >
    <div
      class="image-avatar__content"
      :style="{
        backgroundImage: `url(${src})`,
      }"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
    size: {
      type: Number,
      required: true,
    },
    type: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";

@keyframes loading {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.05;
  }
}

.image-avatar {
  border-radius: 40%;
  box-shadow: 0 0 12px $shadow;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background: url("../assets/img/landscape.svg") no-repeat center / 70%;
    animation: loading 1.5s infinite;
  }

  &--image {
    &:before {
      background-image: url("../assets/img/landscape.svg");
    }
  }

  &--profile {
    &:before {
      background-image: url("../assets/img/profile.svg");
      background-size: 90%;
    }
  }
}
</style>
