<template>
  <input
    class="input-comp"
    :class="{ 'input-comp__search': type === 'search' }"
    :type="type"
    :placeholder="placeholder"
    v-model="input_value"
    :change="changeInput(input_value)"
  />
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
    },
  },
  data() {
    return {
      input_value: "",
    };
  },
  methods: {
    changeInput() {
      this.$emit("changeInput", this.input_value);
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/__colors.scss";

.input-comp {
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  color: $black;
  border: 1px solid rgba($black, 0.2);

  &:active,
  &:focus {
    outline: 0;
  }

  &__search {
    background: url("../assets/img/search.svg") no-repeat 96% center / 20px;
    padding-right: 12%;
  }
}
</style>
