<template>
  <div class="loader"></div>
</template>

<style lang="scss">
@import "../assets/scss/__colors.scss";

.loader {
  position: fixed;
  width: 100%;
  height: calc(100vh - 60px);
  background: url("../assets/img/loader.svg") no-repeat center / 40px
    rgba($white, 0.9);
  z-index: 3;
}
</style>
