<template>
  <h1 class="page-title" v-text="title"></h1>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";

.page-title {
  margin: 0;
  background-color: $blue_h;
  color: $white;
  text-align: center;
  padding: 20px 10px;
  font-size: 20px;
  margin-bottom: 40px;
}
</style>
