<template>
  <section class="profile">
    <ImageAvatar :size="120" :src="photo" type="avatar" />
    <h1 class="profile__name" v-text="name"></h1>
    <a
      class="profile__email"
      v-text="email"
      :href="`mailto:${email}`"
      v-if="email"
    ></a>
  </section>
</template>

<script>
import ImageAvatar from "@/components/ImageAvatar";

export default {
  components: {
    ImageAvatar,
  },

  props: {
    name: {
      type: String,
      required: true,
    },
    photo: {
      type: String,
      required: true,
    },
    email: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &__name {
    margin: 15px 0 5px;
    font-size: 20px;
  }

  &__email {
    margin: 0;
    text-decoration: none;
    color: $black;
  }
}
</style>
