<template>
  <div class="site-info">
    <i class="site-info__icon" :class="icon"></i>
    <div class="site-info__text">
      <p class="site-info__title" v-text="text"></p>
      <p class="site-info__desc" v-text="desc" v-if="desc"></p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    desc: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.site-info {
  display: flex;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: 480px) {
    font-size: 16px;
  }

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &__icon {
    height: 40px;
    width: 30px;
    grid-row: 1 / -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;

    &.contact {
      background-image: url("../assets/img/contact.svg");
      background-size: 25px;
    }

    &.phone {
      background-image: url("../assets/img/phone.svg");
    }

    &.email {
      background-image: url("../assets/img/email.svg");
    }

    &.address {
      background-image: url("../assets/img/address.svg");
    }
  }

  &__text {
    margin-left: 10px;
  }

  &__title {
    margin: 0;
    font-weight: 500;
  }

  &__desc {
    opacity: 0.6;
    margin: 5px 0 0;
  }
}
</style>
