<template>
  <div class="top-detail">
    <div class="top-detail__content">
      <button class="go-back" @click="$router.go(-1)" tag="button"></button>

      <ImageAvatar :src="image" :size="70" type="image" />

      <h1 class="top-detail__title" v-text="title"></h1>
      <p class="top-detail__subtitle" v-if="subtitle" v-text="subtitle"></p>
      <span class="top-detail__desc" v-text="desc" v-if="desc"></span>
    </div>
  </div>
</template>

<script>
import ImageAvatar from "@/components/ImageAvatar";

export default {
  components: {
    ImageAvatar,
  },
  props: {
    image: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
    },
    desc: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/__colors.scss";
.top-detail {
  padding: 15px;
  background-color: $blue_h;
  color: $white;

  &__content {
    display: grid;
    grid-template-columns: [go-back]30px [photo]80px [info]1fr;
    grid-template-rows: [site-name]1fr [site-address]1fr [site-street]1fr;
    grid-gap: 0 5px;
    align-items: center;
    max-width: 440px;
    margin: 0 auto;
    font-size: 14px;
  }

  .go-back {
    grid-area: site-name / go-back / -1;
  }

  .image-avatar {
    grid-area: site-name / photo / -1;
    background-color: $blue;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    align-self: end;

    @media screen and (min-width: 480px) {
      font-size: 18px;
    }
  }

  &__subtitle {
    margin: 0;
  }

  &__desc {
    align-self: start;
  }
}
</style>
