<template>
  <main id="app">
    <Header />

    <section class="content">
      <Loader v-if="GET_IS_LOADING" />
      <router-view :key="$route.fullPath" />
    </section>
  </main>
</template>

<script>
import { mapGetters } from "vuex";

import Header from "./components/Header.vue";
import Loader from "@/components/Loader.vue";

export default {
  name: "App",

  components: {
    Header,
    Loader,
  },

  computed: {
    ...mapGetters(["GET_IS_LOADING"]),
  },
};
</script>

<style>
@import "./assets/css/normalize.css";
@import "./assets/scss/__globals.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
}
</style>
